body {
  width: 250px;
  margin: 0 auto;
  box-sizing: border-box;
}
.Post {
  margin: 12px auto;
  padding: 12px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.Post__Image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}
